#envPropTable .label, #execution-list-table .label, #entity-population-table .label {
    -fx-font-size: 14px;
    -fx-font-family: "System";
    -fx-text-fill: -fx-text-inner-color;
    -fx-font-weight: bold;
    -fx-pref-width: -1;
    -fx-pref-height: -1;
    -fx-background-color: -fx-background;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-wrap-text: false;
    -fx-padding: 5px;
}
#tilePane .label {
    -fx-font-size: 25;
    -fx-font-family: "Raleway";
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-pref-width: 500px;
    -fx-pref-height: 280px;
    -fx-background-color: #F5F5F5;
    -fx-border-color: #0b0808;
    -fx-border-width: 5px;
    -fx-wrap-text: true;
    -fx-padding: 0 0 0 10px;
}