
.label {
    -fx-font-size: 25;
    -fx-font-family: "Raleway";
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-pref-width: 500px;
    -fx-pref-height: 230px;
    -fx-background-color: #F5F5F5;
    -fx-border-color: #0b0808;
    -fx-border-width: 5px;
    -fx-wrap-text: true;
    -fx-padding: 0 0 0 10px;
}