.button{
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.tab {
    -fx-background-color: rgba(0, 0, 0, 0.75); /* Set the background color of the inactive tab buttons */
    -fx-font-size: 16px;
}

.tab:selected {
    -fx-background-color: rgba(0, 0, 0, 0.85); /* Set the background color of the inactive tab buttons */
    -fx-font-size: 16px;
}

.tab-label {
    -fx-text-fill: white; /* Set the text color of the tab buttons */
}