.button{
    -fx-background-color: #b1b17c;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
}

.tab {
    -fx-background-color: #b1b17c; /* Set the background color of the inactive tab buttons */
    -fx-text-fill: #000000; /* Set the text color of the tab buttons */
    -fx-font-size: 16px;
}

.tab:selected {
    -fx-background-color: #b1b17c; /* Set the background color of the inactive tab buttons */
    -fx-text-fill: #000000; /* Set the text color of the tab buttons */
    -fx-font-size: 16px;
}