.tree-view{
    -fx-base: rgba(0, 0, 0, 0.5);

    -fx-accent: rgba(0, 0, 0, 0.5);
    -fx-focus-color: rgba(0, 0, 0, 0.25);
    -fx-faint-focus-color: rgba(0, 0, 0, 0.25);

}
#grid-first-screen, #hbox-header{
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, rgba(0, 0, 0, 0.8);
}
.menu-bar
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, rgba(0, 0, 0, 0.2);
}