.detail-label {

    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-pref-width: 250px;
    -fx-pref-height: 150px;
    -fx-background-color: #192641;
    -fx-border-color: #0b0808;
    -fx-border-width: 5px;
    -fx-wrap-text: true;
}